*eps-converted-to.pdf
*.lof
.DS_Store
*.bbl
*.bcf
*.blg
*.fls
*.out
*.run.xml
*.synctex.gz
.svn
._*
AutoDict*
*.d
*.so
*.pcm
*.pyc
*.o
rcSetup*
.RootCoreBin
RootCoreBin
*.swp
*.aux
*.fdb_latexmk
*.log
*.nab
*.snm
*.syntex.gz
*.toc
*.vrb
code/plotScripts/dataMCcomparison/skimming/*.root
code/plotScripts/dataMCcomparison/skimming_signal_*/*.root
code/plotScripts/dataMCcomparison/plot/*.eps
code/plotScripts/dataMCcomparison/plot/*.pdf
code/plotScripts/dataMCcomparison/latex/data/expN_BGVV*
code/plotScripts/dataMCcomparison/latex/data/expN/BGVV*
code/plotScripts/dataMCcomparison/latex/slide.pdf
code/plotScripts/dataMCcomparison/latex/slide.nav
code/run
