[submodule "code/susyAnaScripts"]
	path = code/susyAnaScripts
	url = https://:@gitlab.cern.ch:8443/dzhang/at-susyAnaScripts.git
[submodule "code/HistFitter"]
	path = code/HistFitter
	url = https://:@gitlab.cern.ch:8443/HistFitter/HistFitter.git
[submodule "code/xAODTruthAnalysis"]
	path = code/xAODTruthAnalysis
	url = git@github.com:dajiaonao/xAODTruthAnalysis.git
